---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout>
	<main>
		<p>This text is 1.33rem when running "npm astro dev" and is 10rem when running "npm astro build" and "npm astro preview".</p>
	</main>
</PageLayout>

<style lang="scss">
p {
	margin-top: 0.5rem;
}
</style>