---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Index">
	<main>
		<p>The text on this page should be red.</p>
		<a href="/page">Bugged page</a>
	</main>
</BaseLayout>