---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout>
	<p>All text on this page should be blue. It will be blue in "dev" and red in "preview".</p>
</PageLayout>

<style lang="scss">
	p {
		margin-top: 0.5rem;
	}
</style>