---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page Title">
	<div>
		<slot/>
	</div>
</BaseLayout>

<style is:global lang="scss">

p {
	font-size: 1.33rem;
}

</style>