p {
	color: red;
}

:root {
	--garbage1: 1rem;
	--garbage2: 1rem;
	--garbage3: 1rem;
	--garbage4: 1rem;
	--garbage5: 1rem;
	--garbage6: 1rem;
	--garbage7: 1rem;
	--garbage8: 1rem;
	--garbage9: 1rem;
	--garbage10: 1rem;
	--garbage11: 1rem;
	--garbage12: 1rem;
	--garbage13: 1rem;
	--garbage14: 1rem;
	--garbage15: 1rem;
	--garbage16: 1rem;
	--garbage17: 1rem;
	--garbage18: 1rem;
	--garbage19: 1rem;
	--garbage20: 1rem;
	--garbage21: 1rem;
	--garbage22: 1rem;
	--garbage23: 1rem;
	--garbage24: 1rem;
	--garbage25: 1rem;
	--garbage26: 1rem;
	--garbage27: 1rem;
	--garbage28: 1rem;
	--garbage29: 1rem;
	--garbage30: 1rem;
	--garbage31: 1rem;
	--garbage32: 1rem;
	--garbage33: 1rem;
	--garbage34: 1rem;
	--garbage35: 1rem;
	--garbage36: 1rem;
	--garbage37: 1rem;
	--garbage38: 1rem;
	--garbage39: 1rem;
	--garbage40: 1rem;
	--garbage41: 1rem;
	--garbage42: 1rem;
	--garbage43: 1rem;
	--garbage44: 1rem;
	--garbage45: 1rem;
	--garbage46: 1rem;
	--garbage47: 1rem;
	--garbage48: 1rem;
	--garbage49: 1rem;
	--garbage50: 1rem;
	--garbage51: 1rem;
	--garbage52: 1rem;
	--garbage53: 1rem;
	--garbage54: 1rem;
	--garbage55: 1rem;
	--garbage56: 1rem;
	--garbage57: 1rem;
	--garbage58: 1rem;
	--garbage59: 1rem;
	--garbage60: 1rem;
	--garbage61: 1rem;
	--garbage62: 1rem;
	--garbage63: 1rem;
	--garbage64: 1rem;
	--garbage65: 1rem;
	--garbage66: 1rem;
	--garbage67: 1rem;
	--garbage68: 1rem;
	--garbage69: 1rem;
	--garbage70: 1rem;
	--garbage71: 1rem;
	--garbage72: 1rem;
	--garbage73: 1rem;
	--garbage74: 1rem;
	--garbage75: 1rem;
	--garbage76: 1rem;
	--garbage77: 1rem;
	--garbage78: 1rem;
	--garbage79: 1rem;
	--garbage80: 1rem;
	--garbage81: 1rem;
	--garbage82: 1rem;
	--garbage83: 1rem;
	--garbage84: 1rem;
	--garbage85: 1rem;
	--garbage86: 1rem;
	--garbage87: 1rem;
	--garbage88: 1rem;
	--garbage89: 1rem;
	--garbage90: 1rem;
	--garbage91: 1rem;
	--garbage92: 1rem;
	--garbage93: 1rem;
	--garbage94: 1rem;
	--garbage95: 1rem;
	--garbage96: 1rem;
	--garbage97: 1rem;
	--garbage98: 1rem;
	--garbage99: 1rem;
	--garbage100: 1rem;
	--garbage101: 1rem;
	--garbage102: 1rem;
	--garbage103: 1rem;
	--garbage104: 1rem;
	--garbage105: 1rem;
	--garbage106: 1rem;
	--garbage107: 1rem;
	--garbage108: 1rem;
	--garbage109: 1rem;
	--garbage110: 1rem;
	--garbage111: 1rem;
	--garbage112: 1rem;
	--garbage113: 1rem;
	--garbage114: 1rem;
	--garbage115: 1rem;
	--garbage116: 1rem;
	--garbage117: 1rem;
	--garbage118: 1rem;
	--garbage119: 1rem;
	--garbage120: 1rem;
	--garbage121: 1rem;
	--garbage122: 1rem;
	--garbage123: 1rem;
	--garbage124: 1rem;
	--garbage125: 1rem;
	--garbage126: 1rem;
	--garbage127: 1rem;
	--garbage128: 1rem;
	--garbage129: 1rem;
	--garbage130: 1rem;
	--garbage131: 1rem;
	--garbage132: 1rem;
	--garbage133: 1rem;
	--garbage134: 1rem;
	--garbage135: 1rem;
	--garbage136: 1rem;
	--garbage137: 1rem;
	--garbage138: 1rem;
	--garbage139: 1rem;
	--garbage140: 1rem;
	--garbage141: 1rem;
	--garbage142: 1rem;
	--garbage143: 1rem;
	--garbage144: 1rem;
	--garbage145: 1rem;
	--garbage146: 1rem;
	--garbage147: 1rem;
	--garbage148: 1rem;
	--garbage149: 1rem;
	--garbage150: 1rem;
}